<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js {%if template != 'index'%}html-fix{%endif%}"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <meta name="google-site-verification" content="9E9zDmgs5s09UNAQE0f7ZesQljZWJUVa80tcQuU1Rno" />
  <title>
    {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>


  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}
  <meta name="google-site-verification" content="VNgbA-epovruKpFlvS5_pF9sJTgj5z_-XoiyUv5NnKI" />

  <link rel="canonical" href="{{ canonical_url }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />


  {{ content_for_header }}

  {{ 'social/social-icons.css' | global_asset_url | stylesheet_tag }}
  {{ 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' | stylesheet_tag }}

  {{ '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic' | stylesheet_tag }}

  <!--[if lt IE 9]>
{{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
<![endif]-->

  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% if template contains 'customers' %}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  <!-- Additional Shopify helpers that will likely be added to the global shopify_common.js some day soon. -->
  {{ 'shopify_common.js'  | asset_url | script_tag }}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  <script>jQuery('html').removeClass('no-js').addClass('js');</script>
  {{ 'https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js' | script_tag }}


  <!-- Jack's Header -->

  {{ 'sm-core-css.css' | asset_url | stylesheet_tag }}
  {{ 'sm-simple.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.smartmenus.js' | asset_url | script_tag  }}
  {{ 'smartmenu.init.js' | asset_url | script_tag  }}

  {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
  {{ 'owl.theme.css' | asset_url | stylesheet_tag }}
  {{ 'owl.transitions.css' | asset_url | stylesheet_tag }}
  {{ 'owl.carousel.min.js' | asset_url | script_tag  }}
  {{ 'owl.config.js' | asset_url | script_tag  }}


  {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
  {{ 'gamerholic.css' | asset_url | stylesheet_tag }}
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    ul.container{
      margin:0 auto;
    }
    #mc_embed_signup form{
      padding: 0;
      color: black;
    }
    #mce-EMAIL {
      height: 48px;
      font-size: 16px;
      background-color: #1a1a1a;
      padding: 0px 15px 0px 15px !important;
      border-radius: 0px !important;
      color: white;

      border: none !important;
    }
    .mce-inline-error {
      padding-top: 5px !important;
    }
    #mc-embedded-subscribe{
      margin: 0;
      border-radius: 0px !important;
      border: none !important;
      font-size: 16px;
      letter-spacing: 2.4px;
    }

    #mc-embedded-subscribe:hover {
      background-color: #CF130E;
      -webkit-transition: background-color 0.5s; /* Safari */
      transition: background-color 0.5s;
    }

    #mce-error-response,#mce-success-response1 {
      padding-top: 7px !important;
      color: #CF130E !important;
    }

    .mce_inline_error {
      padding-top: 10px !important;
    }

    .h2_title{
      height: 35.5px !important;
      font-size: 12px !important;
      font-weight: initial !important;
      margin: 2px 10px 0px 10px !important;
    }
    .price_height{
      height: 29.5px !important;
    }

    .pagination--infinite {
      text-align: center;
    }

    .pagination--infinite a {
      padding: 0 20px;
    }
  </style>


</head>

<body id="{{ page_title | handle }}" class="class_{{template |remove: '.'}}{% if customer %}customer-logged-in {% endif %} {%if template != 'index'%}body-fix{%endif%}">





  {% include 'site-nav' %}



  {{ content_for_layout }}

  {% include 'footer' %}


  {% if template == 'index' %}


  {% endif %}

  <!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END -->

  {% include 'swymSnippet' %}

  <script async src="https://cdn.enlistly.com/track/gamerholic.com.au.enlistly.js"></script>

  {% include 'smile-initializer' %}

  {% include 'smile-ui-launcher' %}
  
  {% include 'cart-popup' %}
  <script>
    $(document).ready(function(){
      // $('.newsletter_popup').show();
      //$('.overlays').show();
//       $('.upsell-no-btn.close').click(function(){
//         $('.newsletter_popup').hide();
//         $('.overlays').hide();
//       });
      
      $('.overlays, .upsell-no-btn.close').click(function(){
        $('.overlays').hide();
        $('.newsletter_popup').hide();
      });
      $(window).scroll(function() {   
        var scroll = $(window).scrollTop();
        if (scroll > 0) {
          //clearHeader, not clearheader - caps H
          $("div#scroller").attr("class","darkHeader");
          $(".top-nav").addClass("fixedtop");
        }
        else{
          $("div#scroller").attr("class","darkHeader1");
          $(".top-nav").removeClass("fixedtop");
        }
      });

      //     if(localStorage.getItem('popState') != 'shown'){
      //        $('.newsletter_popup').show();
      //       $('.overlays').show();
      //         localStorage.setItem('popState','shown')
      //     }

      $('.overlays').click(function(e) // You are clicking the close button
                           {
        $('.newsletter_popup').fadeOut(); 
        $('.overlays').fadeOuts();// Now the pop up is hiden.
      });


    });
  </script>

  <script>
    $(document).ready(function(){

      console.log($.cookie("example"));
      var cookie=$.cookie("example");
      if(cookie=='foo'){
        $('.newsletter_popup').hide(); 
        $('.overlays').hide();
      }
      else{
        var date = new Date();
        var minutes = 30;
        date.setTime(date.getTime() + (minutes * 60 * 1000));
        $.cookie("example", "foo", { expires: date });
        $('.newsletter_popup').fadeIn(); 
        $('.overlays').fadeIn();
      }
      
      if(innerWidth > 768){
        $('#myModal .continue-shopping.btn').click(function(){
          $('#myModal').hide();
        });
        $('.addtocart-js input[type=submit]').click(function (e) {
          e.preventDefault();
          var formdata = $(this).closest('form').serialize();
          $.ajax({
            url: '/cart/add.js',
            dataType: 'json',
            cache: false,
            type: 'post',
            data: formdata,
            success: function (result) {

              jQuery.getJSON('/cart.js', function (cart) {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('.dotmagic-cart .cart-count').html(cart.item_count);
                var html = '';
                var preorder = false;
                for(i = 0; i < cart.items.length; i++){
                  var $title = cart.items[i].title.toLowerCase();
                    if($title.indexOf('preorder') != -1 || $title.indexOf('pre-order') != -1){
                      preorder = true;
                    }

                  var cart_data = cart.items[i];
                  html += '<div class="ajaxifyCart--product"><div class="ajaxifyCart--row"><div class="product-cart-popup"><div class="row">';
                  html += '<div class="col-xs-12 col-sm-3 col-md-3 cart-popup-left"><a href="'+cart_data.url+'" class="ajaxCart--product-image"><img src="'+cart_data.image+'"></a></div>';
                  html += '<div class="col-xs-12 col-sm-9 col-md-9 cart-popup-right">';
                  html += '<div class="cart-name"><a href="'+cart_data.url+'" class="h4">'+cart_data.product_title+'</a><p></p></div>';
                  html += '<div class="cart-price"><p>'+cart_data.quantity+' x &nbsp;</p><p><span class="money">'+Shopify.formatMoney(cart_data.price);+'</span></p></div>';
                  html += '</div></div></div></div></div></div>';
                }
                if(preorder){
                  $("label.select_check_box").show();
                   $("label.select_check_box").show();
                  $(function(){
                    var requiredCheckboxes = $('.select_check_box :checkbox[required]');
                    requiredCheckboxes.change(function(){
                      if(requiredCheckboxes.is(':checked')) {
                        requiredCheckboxes.removeAttr('required');
                        $(".hide_checkout_btn").show();
                        $(".select_check_box").removeClass("please-select-field");
                        $(".show-preorder").hide();
                      } else {
                        requiredCheckboxes.attr('required', 'required');
                        $(".hide_checkout_btn").hide();
                        $(".show-preorder").show();
                      }
                    });
                  });
                  $(".show-preorder").click(function(){
                    $(".select_check_box").addClass("please-select-field");
                  });
                  $(".hide_checkout_btn").click(function(){
                    $(".select_check_box").removeClass("please-select-field");
                  });
                
                }else{
                  $("label.select_check_box").hide();
                    $("button.btn.hide_checkout_btn").show();
                    $("button.btn.show-preorder").hide();
                }
                $('#myModal .product-cart-popup-main .ajaxifyCart--products').html(html);
                $('#myModal').show();
              });
            }
          });
          return false;
        });
      }
    });
  </script>
  {% if template contains 'cart'%}
  <script>
    $(document).ready(function(){
      $(function(){
        var requiredCheckboxes = $('.select_check_box :checkbox[required]');
        requiredCheckboxes.change(function(){
          if(requiredCheckboxes.is(':checked')) {
            requiredCheckboxes.removeAttr('required');
            $(".hide_checkout_btn").show();
             $(".select_check_box").removeClass("please-select-field");
            $(".show-preorder").hide();
          } else {
            requiredCheckboxes.attr('required', 'required');
            $(".hide_checkout_btn").hide();
            $(".show-preorder").show();
          }
        });
      });
      $(".show-preorder").click(function(){
        $(".select_check_box").addClass("please-select-field");
      });
       $(".hide_checkout_btn").click(function(){
        $(".select_check_box").removeClass("please-select-field");
      });
    });
  </script>
{% endif %}
  <style>
    .darkHeader {
      margin-top: 34px;
    }
    .fixedtop {
      position: fixed;
      width: 100%;
      float: left;
      z-index: 999;
    }
    .upsell-no-btn.close{
      font-size: 18px;
      position: absolute;
      right: 8px;
      top: 11px;
      border-radius: 50%;
      line-height: 25px;
      width: 25px;
      height: 25px;
      text-align: center;
      color:#000;
    }
  </style>
</body>
</html>
