{% assign sale = false %}
    {% if product.compare_at_price_min > 0 and product.price != product.compare_at_price_min %}
	  {% assign sale = true %}
	{% endif %} 
    
	<div class="product">
      <a href={{product.url}} class="img-link link-grey">
      <div class="extras">
        <p class="availability"><font color="white" size="4">Available: {{product.variants.first.barcode}}</font></p>
      </div>
      
        <img src="{{product.images[0].src | product_img_url: 'medium'}}" alt="{{ product.title }}">
        <p class="text">
          <span class="title">{{ product.title }}</span>
          {% if sale %}
			<span class="old-price">{{ product.compare_at_price_min | money}}</span>
		  {% endif %}    
          
          <span class="price">{{ product.price | money }}</span>
        </p>
      </a>
      <div class="bottom"></div>
    </div>
