<div class="top-nav dotmagic">
  {% if  settings.promotionalBar-visible %}
  {% include 'promotionalBar' %}
{% endif  %} 
  <ul class="container">
    <li>
      {% assign now = 'now' | date: "%b" | downcase %}
      <a class="link-white" href="/collections/pre-order/{{ now }}">PRE-ORDER</a>
    </li>
    <li>
      <a class="link-white" href="/pages/sell">SELL</a>
    </li>
    <li>
      <a class="link-white" href="/blogs/news">BLOG</a>
    </li>
    <li>
      <a class="link-white" href="/collections/sales">SALES</a>
    </li>
    <li>
      <a class="link-white" href="/collections/new-products">NEW</a>
    </li>
    <li class="social-link">
      <a href="https://www.facebook.com/GamerholicAU/" class="link-white">
        <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
      </a>
    </li>
    <li class="social-link">
      <a href="" class="link-white">
        <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
      </a>
    </li>
    <li class="social-link">
      <a href="/pages/faq" class="link-white">
        BASE SHIPPING $10
      </a>
    </li>
  </ul>
</div>

<div class = "container">
  <div class="middle-nav">
    <div class ="row">
      <div class="col-sm-5 logo">
        <div class="logo">
          <a href="/">
        	<img src="{{ 'logo.png' | asset_url }}" alt="My Logo">
          </a>
        </div>
      </div>
      <div class="col-sm-3">

		<form action="/search">
            <input type="search" id="search" placeholder="Search..." name="q" />
            <button class="icon"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <div class="col-sm-4 dotmagic-nav">
        {% if customer  %}
    	  <a href="/account">Account</a>
          <span class="middle-nav-divider">|</span>
          {{ 'Log out' | customer_logout_link }}
  		{% else %}
          <a href="/account/login">Log In</a>
          <span class="middle-nav-divider">|</span>
          <a href="/account/register">Sign Up</a>
        {% endif %}
              
        <a title="cart" href="/cart" class="dotmagic-cart">
          <span class="cart-count">{{ cart.item_count }}</span>
        </a>
        <style>
          .top-nav.dotmagic{
            background: #cf120e;
          }
          .dotmagic-cart{
            color: #fff;
            font-size: 13px;
            background: url(https://cdn.shopify.com/s/files/1/0987/8934/t/36/assets/2772_40x.png) no-repeat;
            background-position: 5px;
            font-family: Montserrat;
            width: 57px;
            height: 57px;
            display: inline-block;
            position: relative;
            border-radius: 8px;
          }
          .dotmagic-cart:hover {
            -webkit-transform: rotate(360deg) !important;
            -moz-transform: rotate(360deg) !important;
            -ms-transform: rotate(360deg) !important;
            transform: rotate(360deg) !important;
            -moz-transition: all 0.3s ease 0s !important;
            -webkit-transition: all 0.3s ease 0s !important;
            -o-transition: all 0.3s ease 0s !important;
            transition: all 0.3s ease 0s !important;
          }
          .dotmagic-cart .cart-count{
            line-height: 0;
            font-weight: 600;
            bottom: 16px;
            color: #000;
            position: absolute;
            right: 6px;
          }
          .middle-nav .dotmagic-nav{
            padding-right: 0;
            text-align: right;
          }
          
          @media only screen and (max-width: 767px) {
            .middle-nav .dotmagic-nav {
              padding-right: 0;
              text-align: center;
              margin: 31px 0;
              padding-left: 0;
            }
          }
          @media only screen and (max-width: 480px) {
            .middle-nav .dotmagic-nav {
              padding-right: 0;
              text-align: center;
              margin: 15px 0 25px 0;
              padding-left: 0;
            }
          }
        </style>
      </div>
    </div>
  </div>
</div>


<div id="scroller-anchor" style="height:1px"></div>
<div id="scroller-gap"></div>
<div id="scroller">
  <div class="container" style="padding:0; margin:auto;">
	<nav id="test" class="main-nav" role="navigation">

      <!-- Mobile menu toggle button (hamburger/x icon) -->
      <h2 id="mobile-menu" style="">MENU</h2>
      <input id="main-menu-state" type="checkbox" />
      <label style="float: left; margin-top: 2px" class="main-menu-btn" for="main-menu-state">

        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
      </label>


  	  <ul id="main-menu" class="sm sm-simple">
        {% for link in linklists.main-menu.links %}
        <li><a href="{{ link.url| escape }}">{{ link.title | escape }}</a>
         {% assign handle = link.title | handle %}
        {% if linklists[handle].links.size > 0 %}
        <ul>
        {% for sublink in linklists[handle].links %}
        <li><a href="{{ sublink.url }}">{{ sublink.title | escape }}</a>
            {% assign subhandle = sublink.title | handle %}
            {% if linklists[subhandle].links.size > 0 %}
            <ul>
              {% for subsublink in linklists[subhandle].links %}
                  <li><a href="{{ subsublink.url }}">{{ subsublink.title | escape }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
        </ul>
        {% endif %}
        </li>
        {% endfor %}
	  </ul>

	</nav>
  </div>
</div>
