<div class="container top-pad">
<div class="hometabletcg" style="margin:15px 0">
	<div class="col-xs-12 no-gutter main_div" style="background:#0277BD">

		<div class="col-md-12 col-lg-4 no-gutter">
          <h2 class="center heading_font" style="text-align:center;color:white">{{section.settings.textid4}}</h2>
			<div class="col-xs-12 center no-gutter" style="text-align:center;text-decoration: underline;font-weight: bold;padding:0 0 13px 0">
				<a style="color: #ffcc33 !important" href="{{section.settings.urls4}}">{{section.settings.SubHeading4}}</a>
			</div>

          <div class="homelist col-xs-12">
          
            {% for link in linklists[section.settings.Menus4].links  %}
            <a href="{{ link.url }}">
              <div class="col-xs-6 col-sm-4 col-md-2 col-lg-6 no-gutter homes">
              {{ link.title }}
              </div>
            </a>
            {% endfor %}


            <div class="clear"></div>
          </div>
                                <div class="clear"></div>
		</div>
		
      <div class="col-md-12 col-lg-8 no-gutter main_div">
        {% for block in section.blocks %}

        <a href="{{block.settings.link4}}">
          <div class="col-xs-4 col-sm-3 no-gutter hometable">
            <img src="{{block.settings.cartimage4 | img_url:'master'}}">
          </div>
        </a>
        {% endfor %}



        <div class="clear"></div>
      </div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
</div>
{% schema %}
  {
    "name": "Fonco",
"class": "index-section section-5",
"settings": [
    {
      "type":"text",
		"id":"textid4",
	"label":"Heading"
    },
	{
      "type":"text",
		"id":"SubHeading4",
	"label":"SubHeading"
    },
{
      "type":"url",
		"id":"urls4",
	"label":"SubHeading urls"
    },

{
   "type":      "link_list",
   "id":        "Menus4",
   "label":     "Menus"
},
{
   "type":      "image_picker",
   "id":        "back",
   "label":     "backgroun_image"
}
  ],
     "blocks": [
    {
      "type": "logo_image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "cartimage4",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link4",
          "label": "Link"
          
        }
      ]
    }
  ],
"presets": [
    {
      "name": "Fonco",
      "category": "Image"
      }
  ]
  }
{% endschema %}
<style>
/*   .homelist {
    text-align: center;
} */

/* .homelink {
    padding: 12px;
    font-size: 20px;
    color: #fff;
} */
  .section-5 .hometable img{
  width:100%;
  }
  .section-5 .hometable {
  padding-right: 0px;
    padding-left: 0px;
}
</style>